<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
   
    
    {% block links %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/inputmask.js' %}"></script>
    {% endblock %}
</head>
<body>
    <header>
        {% if not user.is_authenticated %}
        <a href="{% url 'register' %}">Реєстрація</a>
            <a href="{% url 'auth' %}">Увійти</a>
            
        {% else %}

        <a href="{% url 'profile' %}">Мій профіль ({{user.username}})</a>
        <a href="{% url 'view_cart' %}">Кошик ({{user.username}})</a>
        <a href="{% url 'user_orders' %}">Мої замовлення ({{user.username}})</a>
        <a href="{% url 'logout' %}">Вийти</a>
        <a href="{% url 'product_list' %}">Всі товари </a>
            
        {% endif %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>2024</p>
    </footer>
</body>
</html>