<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваше замовлення</title>
    <style>
        body { font-family: Arial, sans-serif; }
        header { background-color: #f4f4f4; padding: 10px; }
        footer { background-color: #f4f4f4; padding: 10px; text-align: center; }
        ul { list-style-type: none; padding: 0; }
        li { margin-bottom: 10px; }
        a { text-decoration: none; color: #007bff; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <header>
        <h1>Дякуємо за ваше замовлення!</h1>
    </header>
    <main>
        <h2>Деталі замовлення</h2>
        <p><strong>Номер замовлення:</strong> {{ order.id }}</p>
        <p><strong>Дата створення:</strong> {{ order.created_at }}</p>
        <p><strong>Населений пункт:</strong> {{ order.city }}</p>
        <p><strong>Прізвище:</strong> {{ order.last_name }}</p>
        <p><strong>Ім'я:</strong> {{ order.first_name }}</p>
        <p><strong>Телефон:</strong> {{ order.phone }}</p>
        <p><strong>Додаткова інформація:</strong> {{ order.additional_info }}</p>

        <h2>Товари в замовленні</h2>
        <ul>
            {% for item in order_items %}
                <li>
                    {{ item.product.name }} - {{ item.quantity }} x {{ item.product.price|floatformat:2 }} грн.
                </li>
            {% empty %}
                <li>В замовленні немає товарів.</li>
            {% endfor %}
        </ul>
        
        <h2>Переглянуті товари</h2>
        <ul>
            {% for viewed in viewed_products %}
                <li>
                    <a href="{% url 'product_detail' slug=viewed.product.slug %}">
                        {{ viewed.product.name }} - {{ viewed.product.price }} грн
                    </a>
                </li>
            {% empty %}
                <li>Ви ще не переглянули жодного товару</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>2024 ©baskos</p>
    </footer>
</body>
</html>
